@import "partials/variables";
@import "partials/mixins";

footer {
	height: 300px;
	width: 100%;
	background-color: $color-grey-darkness2;
	border-top: 6px solid $color-border-line;
	padding-top: 30px;

	h5, p, a {
		color: white;
	}

	a {
		font-size: 1em;
	}

	.footer-nav {
		grid-column: span 4;

		li {
			position: relative;
			width: fit-content;
			
			a {
				&::before {
					content: "";
					display: inline-block;
					height: 0.4em;
					width: 0.4em;
					background-image: url("../img/bullet-point.ico");
					background-size: 0.4em;
					background-repeat: no-repeat;
					background-position: center;
					transform: translateY(-0.2em);
					transition: all 0.2s ease;
					margin-right: 15px;
				}
				&:hover::before {
					background-image: url("../img/bullet-point-hover.ico");
				}
	
				&::after { 
					@include linkUnderline;
				}
				&:hover::after { 
					width: 80%; 
					left: 20px; 
				}
			}
		}

		
	}

	.footer-main {
		grid-column: span 4;
	}

	.footer-kontakt {
		grid-column: span 4;
	}
}


