@import "partials/variables";
@import "partials/mixins";

header {
	width: 100svw;
	menu {
		width: 100%;
		display: flex;
		align-items: center;
		background: $color-gradient-darker;

		.grid {
			width: 100%;
		}
	}
	
	#bd-logo {
		grid-column: span 4;
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	
	.bd-nadpis {
		font-size: 1.7em;
		letter-spacing: -1px;
		font-family: $text-heading-main-family;
		font-weight: 500;
		margin-left: 15px;
		color: white;
	}
	
	nav 
	{
		grid-column: span 8;
		height: 100%;
		
		ul 
		{
			display: flex;
			justify-content: space-evenly;
			align-items: center;
	
			li 
			{
				font-size: $text-regular-size;
				display: flex; 
				position: relative; 
				
				a {
					color: white;
					text-align: center;
					text-decoration: none;
					height: 100%;
					width: 100%;
					padding: 25px 15px;
	
					&:hover {
						background: $color-gradient-lighter;
					}
					&::after { 
						@include linkUnderline;
					}
					&:hover::after { 
						width: 80%; 
						left: 10%; 
					}
				}
			}
	
			#prihlaseni-link {
				position: relative;
				justify-self: flex-end; //! ?opravit
	
				a {
					padding-left: 20px;
	
					&::before {
						content: "";
						background-image: url(../img/user.ico);
						background-size: 25px;
						background-repeat: no-repeat;
						background-position: center;
						width: 25px;
						height: 25px;
						display: inline-block;
						margin-right: 8px;
						transition: all 0.2s ease;
					}
	
					&:hover::before {
						background-image: url(../img/user-hover.ico);
					}
				}
			}
		}
	}
}




