@import "partials/variables";
@import "partials/mixins";

header 
{
	height: 100svh;
	width: 100svw;
	background-image: url(../img/background-tiny.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	menu {
		width: 100%;
		display: flex;
		align-items: center;
		background: $color-gradient-darker;
	}

	#bd-logo {
		grid-column: span 4;
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	.bd-nadpis {
		font-size: 1.7em;
		letter-spacing: -1px;
		font-family: $text-heading-main-family;
		font-weight: 500;
		margin-left: 15px;
		color: white;
	}

	nav 
	{
		width: 100%;
		height: 100%;
		grid-column: span 8;

		ul 
		{
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style-type: none;

			li 
			{
				display: flex; 
				position: relative; 

				a {
					color: white;
					text-align: center;
					text-decoration: none;
					height: 100%;
					width: 100%;
					padding: 25px 15px;

					&:hover {
						background: $color-gradient-lighter;
					}
					&::after { 
						content: "";
						display: block;
						height: 2.5px;
						width: 0;
						position: absolute;
						left: 50%;
						background: #BC2D1F;
						transition: width 0.3s ease, left 0.3s ease;
					}
					&:hover::after { 
						width: 80%; 
						left: 10%; 
					}
				}
			}

			#prihlaseni-link {
				margin-left: 35px;
				position: relative; 

				&::before {
					content: "";
					background-image: url(../img/user.ico);
					background-size: 25px;
					background-repeat: no-repeat;
					background-position: center;
					width: 25px;
					height: 25px;
					display: inline-block;
					transform: translateY(100%);
					margin-right: -5px;
					transition: all 0.2s ease;
				}

				&:hover::before {
					background-image: url(../img/user-hover.ico);
				}
			}
		}
	}
	
	.main {
		height: calc(100vh - 90px);
		align-items: center;
	}
	
	.header-main {
		grid-column: span 5;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: rgb(255, 249, 249,0.65);
		padding: 25px;
		border-radius: 20px;

		h1::after {
			content: "";
			width: 100%;
			height: 2.5px;
			border-radius: 100px;
			display: inline-block;
			background-color: #BC2D1F;
			position: relative;
			margin-top: 25px;
			margin-bottom: 25px;
			box-shadow: 1px 2px 4px #747474;
		
		}

		p {
			font-size: 1.3em;
		}

		.main-btns {
			display: flex;
			margin-top: 15px;

			button {
				width: 170px;
				display: inline-block;
				margin-right: 15px;
			}
			
			#btn-napiste-nam {
				color: white;
				background-color: #1E1E1E;
				border: 3.5px solid #1E1E1E;
			}
			
			#btn-kdo-jsme {
				background: transparent;
				border: 3.5px solid #1E1E1E;
				overflow: hidden;
				position: relative;
				transition: all 0.35s ease;

				&:hover{
					color: white;
					z-index: 1;
					background: transparent;
				}

				&::before,
				&::after {
					content: "";
					width: 100%;
					height: 100%;
					top: -100%;
					left: 0;
					z-index: -1;
					box-sizing: border-box;
					position: absolute;
					background: #1E1E1E;
					transition: all 0.35s ease;
				} 
				&::before {
					opacity: 0.5;
				}
				&::after {
					transition-delay: 0.2s;
				}

				&:hover::before,
				&:hover::after{
					top: 0;
				}
			}
		}
	}
}

