@import "partials/variables";
@import "partials/mixins";


//& -----------------------------------------------ÚVODNÍ STRÁNKA -------------------------------------------------
.uvod {
	height: 100svh;
	max-width: 100%;
	background-image: url(../img/background-tiny.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
