@import "variables";

@mixin general {
	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: $text-regular-family;
		font-weight: $text-regular-weight;
		font-size: $text-regular-size;
		background-color: $color-body;
		line-height: $text-regular-line-height;
	}
}

@mixin grid {
	display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
    width: 100svw;
    margin: 0 8svw;
}

// ---------- TEXT ----------

@mixin textRegular($color: $text-color) {
	font: {
		family: $text-regular-family;
		size: 1.2em;
    	weight: $text-regular-weight;
	}
	color: $color;
}

@mixin textPar {
	@include textRegular;
	margin-bottom: 15px;
}

@mixin headings($color: $text-color, $weight: $text-headings-weight) {
	font: {
		family: $text-headings-family;
		weight: $weight;
	}
	letter-spacing: $text-letter-spacing;
	color: $color;
}

@mixin headingH1 {
	font: {
		family: $text-heading-main-family;
		size: 3.7em;
		weight: $text-headings-weight;
	}
	text-shadow: $text-shadow;
	letter-spacing: $text-letter-spacing;
	color: $text-color;
}

@mixin headingH2 {
	@include headings($weight: 400);
	font-size: 2em;
	letter-spacing: $text-letter-spacing;
	line-height: 130%;
	margin-bottom: 25px;
}

@mixin headingH3 {
	@include headings($color: $main-color);
	font-size: 1.5em;
	line-height: 130%;
	margin-bottom: 15px;
}

@mixin headingH4 {
	@include headings();
	font-size: 1.5em;
	line-height: 130%;
	margin-bottom: 15px;
}

