@import "variables";

@mixin general {
	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: $text-regular-family;
		font-weight: $text-regular-weight;
		font-size: $text-size;
		background-color: $color-body;
		line-height: $text-regular-line-height;
		overflow-x: hidden;								//! ??
	}

	*::before,
	*::after{
	box-sizing: border-box;
	}
}

@mixin grid {
	.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		max-width: 100%;
		gap: 15px;
		margin: 0 8svw;
		overflow: hidden;
	}
	
}

//& ------------------ TEXT ----------------------

@mixin textRegular($color: $text-color) {
	font: {
		family: $text-regular-family;
		size: $text-regular-size;
    	weight: $text-regular-weight;
	}
	color: $color;
}

@mixin textPar {
	@include textRegular;
	margin-bottom: $elmMarginBasic;
}

@mixin headings($color: $text-color, $weight: $text-headings-weight) {
	font: {
		family: $text-headings-family;
		weight: $weight;
	}
	letter-spacing: $text-letter-spacing;
	color: $color;
}

@mixin headingH1 {
	font: {
		family: $text-heading-main-family;
		size: 3.5em;
		weight: $text-headings-weight;
	}
	text-shadow: $text-shadow;
	letter-spacing: $text-letter-spacing;
	color: $text-color;
}

@mixin headingH2 {
	@include headings($weight: 400);
	font-size: 1.8em;
	letter-spacing: $text-letter-spacing;
	line-height: 130%;
	margin-bottom: 25px;
}

@mixin headingH3 {
	@include headings($color: $color-main);
	font-size: 1.5em;
	line-height: 130%;
	margin-bottom: $elmMarginBasic;
}

@mixin headingH4 {
	@include headings();
	font-size: 1.5em;
	line-height: 130%;
	margin-bottom: $elmMarginBasic;
}

@mixin headingH5 {
	@include headings();
	font-size: 1.3em;
	line-height: 130%;
	margin-bottom: $elmMarginBasic;
}


//& ----------------- ELEMENTS ---------------------

@mixin link {
	font-size: $link-text-size;
    font-family: $link-text-family;
    font-weight: $link-text-weight; 
	text-decoration: none;
    transition: $link-transition;

	&:hover:not(.nav-link) {
		color: $color-main;
	}
}

@mixin ul {
	list-style-type: none;
}

@mixin li($font: $text-regular-family) {
	font-size: $text-regular-size;
    font-family: $font;
    font-weight: $text-headings-weight; 
}

//---------------- buttons ------------------

@mixin buttons {
	height: $btn-height;
	display: inline-block;
	transition: $elmTransition;
	font-size: $text-regular-size;
    border-radius: $elmBorderRadius;
    padding: 15px 10px;
    font-family: $btn-text-family;
    font-weight: $btn-text-weight; 
    cursor: pointer;
}

@mixin buttonFill($width: fit-content) {
	width: $width;
	color: white;
	background-color: $color-secondary;
	border: $btn-border;

	&:hover {
		color: $color-main;
	}
}

@mixin buttonStroke($width: fit-content) {
	width: $width;
	background: transparent;
	border: $btn-border;
	overflow: hidden;
	position: relative;

	&:hover{
		color: $color-main;
		z-index: 1;
	}

	&::before,
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		top: -100%;
		left: 0;
		z-index: -1;
		position: absolute;
		background: $color-secondary;
		transition: $elmTransition;
	} 
	&::before {
		opacity: 0.5;
	}
	&::after {
		transition-delay: 0.2s;
	}

	&:hover::before,
	&:hover::after{
		top: 0;
	}
}

//-------------- before & after ------------------

@mixin bulletPoint($address: "../img/bullet-point.ico") {
	content: "";
	display: inline-block;
	height: 0.4em;
	width: 0.4em;
	background-image: url($address);
	background-size: 0.4em;
	background-repeat: no-repeat;
	background-position: center;
	transform: translateY(-0.2em);
	transition: all 0.2s ease;
	margin-right: $elmMarginBasic;
}

@mixin underline($width: 100%, $margin-top: 25px) {
	content: "";
	width: $width;
	height: 2.5px;
	border-radius: $line-border-radius;
	display: inline-block;
	background-color: $color-main;
	position: relative;
	margin-top: $margin-top;
}

@mixin linkUnderline {
	content: "";
	display: block;
	height: 2.5px;
	width: 0;
	position: absolute;
	left: 50%;
	background: $color-main;
	transition: width 0.3s ease, left 0.3s ease;
}
