// ---------- COLORS ----------

$color-main: #BC2D1F;
$color-secondary: #1E1E1E;
$color-body: #fff9f9;
$color-shadow: #747474;
$color-copy: #c4c4c4;

$color-grey-darkness3: $color-secondary;
$color-grey-darkness2: lighten($color-grey-darkness3, 7%);
$color-grey-darkness1: lighten($color-grey-darkness2, 7%);

$color-header-div: rgb(255, 249, 249,0.65);
$color-border-line: rgb(255, 249, 249,0.2);

$color-gradient-darker: linear-gradient(0deg, $color-grey-darkness3 0%, 
	$color-grey-darkness3 50%,$color-grey-darkness2 50%, $color-grey-darkness2 100%);

$color-gradient-lighter: linear-gradient(0deg, $color-grey-darkness2 0%, 
	$color-grey-darkness2 50%,$color-grey-darkness1 50%, $color-grey-darkness1 100%);


// ---------- TEXT ----------

$text-size: 100%;
$text-color: black;
$text-shadow: 1px 1px 3px white;
$text-letter-spacing: -1.5px;

$text-regular-family: 'Faustina';
$text-regular-weight: 400;
$text-regular-size: 1.15em;
$text-regular-line-height: 160%;
$text-headings-family: 'Expletus Sans';
$text-headings-weight: 600;

$text-heading-main-family: 'El Messiri';


// ---------- ELEMENTS ----------
$elmBorderRadius: 5px;
$elmTransition: all 0.35s ease;
$elmMarginBasic: 15px;

$btn-width: 170px;
$btn-height: 65px;
$btn-text-size: $text-regular-size;
$btn-text-family: $text-headings-family;
$btn-text-weight: $text-headings-weight;
$btn-border: 3.5px solid $color-secondary;

$link-text-size: $text-regular-size;
$link-text-family: $text-regular-family;
$link-text-weight: $text-regular-weight;
$link-transition: all 0.2s ease;


$line-shadow: 1px 2px 4px $color-shadow;
$line-border-radius: 100px;

